body {
    background-color: lightpink
}

.jumbotron {
    text-align: center;
    background-color: lightpink;
    margin: 0px;
}

.navbar {
    margin: 0px;
    background-color: lightcoral;
}

.card {
    margin-top: 20px;
    text-align: center;
}

.home-products-button {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.home-products-button:hover {
    font-size: 2em;
}

.product-images {
 height: 250px;
}

.card-block {
    background-color: #fff2fa;
}

.button-create {
    margin: 4px;
}